<launch>
    <!-- 定义命令行参数 -->
    <arg name="version" default="4" />
    <arg name="ctrl_arm_idx" default="2" />
    <arg name="ik_type_idx" default="0" />
    <arg name="ip_address" default="" />
    <arg name="control_torso" default="0" /> <!-- 0: do NOT control, 1: control torso  -->
    <arg name="control_finger_type" default="0" /> <!-- 0: control all fingers by upper-gripper, 1: control thumb and index fingers by upper-gripper, control other fingers by lower-gripper  -->
    <arg name="predict_gesture" default="false" /> <!-- True or False -->
    <arg name="ee_type" default="qiangnao"/>
    <arg name="rosbag_path" default="" doc="Path to the rosbag file containing Quest3 data"/>

    <!-- motion_capture_ik -->
    <node pkg="motion_capture_ik" type="ik_ros_uni.py" name="ik_ros_uni" args=" --version $(arg version) --ctrl_arm_idx $(arg ctrl_arm_idx) --ik_type_idx $(arg ik_type_idx) --control_torso=$(arg control_torso) --control_finger_type=$(arg control_finger_type) --predict_gesture=$(arg predict_gesture) --ee_type=$(arg ee_type)" output="screen">
    </node>
    <!-- automatic_test -->
    <node pkg="automatic_test" type="rosbag_quest3_player.py" args="$(arg rosbag_path)" name="rosbag_quest3_player" output="screen">
    </node>
</launch>
