<?xml version="1.0" ?>

<launch>
    <arg name="rviz"               default="false" />
    <arg name="side_length" default="2.0"/>
    <arg name="max_linear_vel" default="0.20"/>
    <arg name="max_angular_vel" default="M_PI/8"/>
    <group if="$(arg rviz)">
      <arg name="rvizconfig" default="$(find trace_path)/rviz/trace_path_demo.rviz" />
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
    </group>
    
    <node pkg="trace_path" type="follow_square_traj" name="follow_square_traj_demo" output="screen">
      <param name="side_length"  value="$(arg side_length)"/>
      <param name="max_linear_vel"      value="$(arg max_linear_vel)"/>
      <param name="max_angular_vel"      value="$(arg max_angular_vel)"/>
    </node>
</launch>