[Unit]
Description=H12PRO Remote Controller Ros Node
After=network.target

[Service]
Type=simple
ExecStop=/bin/kill -SIGINT $MAINPID
Environment=KUAVO_ROS_CONTROL_WS_PATH=/root/kuavo_ws
Environment=ROBOT_VERSION=40
ExecStart=/root/kuavo_ws/src/humanoid-control/h12pro_controller_node/scripts/start_ocs2_h12pro_node.sh
User=root

[Install]
WantedBy=multi-user.target
