<?xml version="1.0" ?>

<launch>
    <!-- VR控制相关参数 -->
    <arg name="control_torso" default="true"/>  <!-- 启用躯干控制 -->
    <arg name="ctrl_arm_idx" default="2"/>
    <arg name="predict_gesture" default="false"/>
    <arg name="ee_type" default="qiangnao"/>
    <arg name="enable_head_control" default="true"/>
    <arg name="use_vr_control" default="true"/>
    <arg name="ip_address" default=""/>
    
    <!-- 增量VR遥操作控制相关参数 -->
    <arg name="use_cpp_incremental_ik" default="false"/>
    <arg name="use_incremental_hand_orientation" default="false"/>
    <arg name="wheel_ik" default="false"/>
    <arg name="quest3_startup_delay" default="20.0"/>

    <!-- 设置VR控制参数 -->
    <param name="use_vr_control" value="$(arg use_vr_control)"/>
    <param name="control_torso" value="$(arg control_torso)" type="bool"/>
    
    <!-- 包含基础的轮臂仿真launch文件 -->
    <include file="$(find humanoid_controllers)/launch/load_kuavo_real_wheel.launch">
        <!-- 覆盖基础launch文件中的参数 -->
        <arg name="vr_remote_control" value="true"/>  <!-- 启用VR远程控制 -->
        <arg name="use_joystick" value="false"/>      <!-- 禁用手柄控制 -->
        <arg name="use_external_mpc" value="true"/>
    </include>

    <node pkg="humanoid_interface_ros" type="humanoid_quest_control_with_arm" name="humanoid_quest_control_with_arm" output="screen" launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh"/>

    <include file="$(find noitom_hi5_hand_udp_python)/launch/launch_quest3_ik.launch">
      <arg name="control_torso" value="$(arg control_torso)"/>
      <arg name="ctrl_arm_idx" value="$(arg ctrl_arm_idx)"/>
      <arg name="predict_gesture" value="$(arg predict_gesture)"/>
      <arg name="ee_type" default="$(arg ee_type)"/>
      <arg name="enable_head_control" value="true"/>
      <arg name="ip_address" value="$(arg ip_address)"/>
      <arg name="startup_delay" value="$(arg quest3_startup_delay)"/>
      <arg name="use_cpp_incremental_ik" value="$(arg use_cpp_incremental_ik)"/>
      <arg name="use_incremental_hand_orientation" value="$(arg use_incremental_hand_orientation)"/>
      <arg name="wheel_ik" value="$(arg wheel_ik)"/>
    </include>

</launch>
