<?xml version="1.0" ?>

<launch>
    <!-- 输出日志格式 -->
    <env name="ROSCONSOLE_FORMAT" value="[${severity} ][${time:%Y-%m-%d-%H:%M:%S}][${node}]: ${message}"/>

    <arg name="vr_remote_control" default="false"/>
    <arg name="robot_type"         default="2"/>
    <arg name="rviz"                default="false" />
    <arg name="multiplot"          default="false"/>
    <arg name="robot_version"      default="$(optenv ROBOT_VERSION 40)"/>
    <!-- load the robot version manager -->
    <include file="$(find humanoid_controllers)/launch/robot_version_manager.launch">
      <arg name="robot_version" value="$(arg robot_version)"/>
      <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <arg name="use_external_mpc"   default="true"/>
    <arg name="wbc_frequency"      default="500"/>
    <arg name="sensor_frequency"   default="1000"/>
    <arg name="use_joystick"       default="true"/>
    <arg name="with_estimation"    default="true"/>
    <arg name="estimator_type"     default="1"/>
    <arg name="use_joint_filter"   default="false"/>
    <arg name="wbc_only"           default="false"/>
    <arg name="joystick_type"      default="bt2"/>
    <!-- The reference related config file of the robot -->
    <arg name="start_way"         default="manual"/>
    <arg name="use_estimator_contact"   default="false"/>
    <arg name="only_half_up_body" default="false"/>
    <arg name="stand_up_protect" default="true"/>
    <arg name="redundant_imu" default="false"/>
    <arg name="joint_protect_enable" default="false" />
    <arg name="cmd_truncation_enable" default="false" />
    <arg name="leg_disable_mode" default="true" doc="If true, when any leg joint fails, all leg joints (1-12) will be disabled" />
    <arg name="ruiwo_cxx_sdk" default="true"/>
    <arg name="arm_move_spd"      default="1.2"/>
    <arg name="waist_move_spd"      default="1.8"/>

    <!-- 如需使用手柄搬箱子和走楼梯，需要设置为 false -->
    <arg name="joy_execute_action" default="true"/>

    <!-- 半身控制手臂模式切换插值相关参数 -->
    <arg name="arm_move_spd_half_up_body" default="0.15"/>
    <arg name="threshold_arm_diff_half_up_body" default="0.15"/>
    <!-- The file defining gait definition -->

    <!-- Set with_coredump parameter based on coredump value -->
    <arg name="coredump" default="true"/>
    <arg name="with_coredump" value="--with-coredump" if="$(arg coredump)"/>
    <arg name="with_coredump" value="" unless="$(arg coredump)"/>
    <arg name="with_ik" default="true"/>
    <arg name="with_mm_ik" default="true"/>
    <arg name="with_led" default="true"/>
    <arg name="with_battery" default="false"/>
    
    <!-- -->
    <arg name="teach_pendant" default="0"/>
    
    <!-- RL相关参数 -->
    <arg name="rl_param"  default="$(find humanoid_controllers)/config/kuavo_v$(arg robot_version)/rl/skw_rl_param.info"/>
    <arg name="network_model_file" default="$(find humanoid_controllers)/model/networks"/>
    <arg name="init_fall_down_state" default="false"/>
    <arg name="is_rl_start" default="false" doc="If true, bypass MPC controller and start directly with the first RL controller from rl_controllers.yaml"/>

    <!-- multiplot -->
    <group if="$(arg multiplot)">
      <include file="$(find humanoid_interface_ros)/launch/multiplot.launch"/>
    </group>

    <param name="wbc_only"          value="$(arg wbc_only)"/>
    <!-- make the files into global parameters -->
    <param name="multiplot"         value="$(arg multiplot)"/>
    <param name="use_external_mpc"   value="$(arg use_external_mpc)"/>
    <param name="wbc_frequency"   value="$(arg wbc_frequency)"/>
    <param name="sensor_frequency"   value="$(arg sensor_frequency)"/>
    <param name="with_estimation"    value="$(arg with_estimation)"/>
    <param name="estimator_type"     value="$(arg estimator_type)"/>
    <param name="use_joint_filter"     value="$(arg use_joint_filter)"/>
    <param name="network_model_file"   value="$(arg network_model_file)"/>
    <param name="rl_param"             value="$(arg rl_param)"/>
    <param name="is_rl_start"           value="$(arg is_rl_start)"/>
    <param name="joystick_type"  value="$(arg joystick_type)"/>
    <param name="only_half_up_body"   value="$(arg only_half_up_body)"/>
    <param name="build_cppad_state"   value="0"/>  <!-- build_cppad_state is set to 0(waiting), 1(building), 2(done) -->
    <param name="start_way"  value="$(arg start_way)"/>
    <param name="use_estimator_contact"  value="$(arg use_estimator_contact)"/>
    <param name="waist_move_spd"     value="$(arg waist_move_spd)"/>
    <param name="joy_execute_action" value="$(arg joy_execute_action)"/>

    <param name="stand_up_protect" value="$(arg stand_up_protect)"/>
    <param name="redundant_imu" value="$(arg redundant_imu)"/>
    <param name="ruiwo_cxx_sdk" value="$(arg ruiwo_cxx_sdk)"/>
    <param name="joint_protect_enable" value="$(arg joint_protect_enable)" />
    <param name="cmd_truncation_enable" value="$(arg cmd_truncation_enable)" />
    <param name="leg_disable_mode" value="$(arg leg_disable_mode)" />
    <rosparam param="isolated_cpus">[2, 3]</rosparam>
    <param name="enable_pull_up_protect" value="true"/>
    <param name="pull_up_force_threshold" value="0.70"/>
    <param name="pull_up_force_threshold_roban" value="0.50"/>
    <param name="torso_interpolation_max_velocity" value="0.06"/>
    <param name="init_fall_down_state" value="$(arg init_fall_down_state)"/>
    <!-- Launch script to collect kuavo-launch information -->
    <node pkg="humanoid_controllers" type="collect_launch_info.sh" name="collect_launch_info" />
    <param name="robot_type"      value="$(arg robot_type)"/>
    
    <!-- teach_pendant=1, teach pendant mode -->
    <param name="teach_pendant"  value="$(arg teach_pendant)"/>

    <param name="arm_move_spd"  value="$(arg arm_move_spd)"/>
    <param name="arm_move_spd_half_up_body" value="$(arg arm_move_spd_half_up_body)"/>
    <param name="threshold_arm_diff_half_up_body" value="$(arg threshold_arm_diff_half_up_body)"/>

    <!-- MPC调度相关参数 -->
    <param name="/mpc/schedule/enable" value="false"/>
    <param name="/mpc/schedule/start_time" value="-1.0"/>
    <param name="/timeout_warning_ms" value="20"/>

    <!-- 自动清理 .ros 文件夹参数 -->
    <!-- 最大日志大小为 64GB，日志大小大于 64GB 时删除日志 -->
    <param name="/nodelet_manager/max_log_size_gb" value="64.0"/>
    <!-- 删除日志到大小为 60GB 时停止删除日志 -->
    <param name="/nodelet_manager/log_delete_limit_gb" value="60.0"/>

    <group if="$(eval arg('teach_pendant') == 1)">
      <param name="stand_up_protect" value="false"/>
      <param name="only_half_up_body" value="true"/>
    </group>

    <group unless="$(eval arg('robot_version') >= 30)">
        <!-- <param name="enable_pull_up_protect" value="false"/> -->
        <param name="stand_up_protect" value="false"/>
    </group>

    <!-- 初始倒地起身模式下，禁用站立保护以确保兼容 -->
    <group if="$(arg init_fall_down_state)">
        <param name="stand_up_protect" value="false"/>
    </group>
    
    <!-- mpc node -->
    <group if="$(arg use_external_mpc)">
      <node pkg="humanoid_interface_ros" type="humanoid_sqp_mpc" name="humanoid_sqp_mpc" output="screen" required="true" launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh $(arg with_coredump)"/>
    </group>

    <group unless="$(arg use_joystick)">

      <node pkg="humanoid_interface_ros" type="humanoid_gait_command" name="humanoid_gait_command"
            output="screen" launch-prefix="gnome-terminal --disable-factory --"/>
    </group>
    <node pkg="humanoid_interface_ros" type="humanoid_hand_control" name="humanoid_hand_control" output="screen" launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh $(arg with_coredump)"/>
    <node pkg="humanoid_interface_ros" type="humanoid_VR_hand_control" name="humanoid_VR_hand_control" output="screen" launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh $(arg with_coredump)"/>
    <node pkg="humanoid_interface_ros" type="humanoid_quest_control_with_arm" name="humanoid_quest_control_with_arm" output="screen" launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh $(arg with_coredump)"/>

    <node pkg="humanoid_interface_ros" type="humanoid_Arm_time_target_control" name="humanoid_Arm_time_target_control" output="screen" launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh $(arg with_coredump)"/>
    <node pkg="humanoid_interface_ros" type="humanoid_gait_switch_by_name" name="humanoid_gait_switch_by_name" output="screen" launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh $(arg with_coredump)"/>

    <!-- nodelet manager -->
    <arg name="real" default="true" />
    <arg name="log" default="true" />
    <arg name="cali" default="false" />
    <arg name="cali_arm" default="false" />
    <arg name="cali_leg" default="false" />
    <!-- 是否进入到手臂展开的零点校准姿态 -->
    <arg name="cali_set_zero" default="false" />

    <param name="real" value="$(arg real)" />
    <param name="log_lcm" value="$(arg log)" />
    <param name="cali" value="$(arg cali)" />
    <param name="cali_arm" value="$(arg cali_arm)" />
    <param name="cali_leg" value="$(arg cali_leg)" />
    <param name="cali_set_zero" value="$(arg cali_set_zero)" />

    <!-- If cali_set_zero is true, force cali to true -->
    <group if="$(arg cali_set_zero)">
        <param name="cali" value="true" />
    </group>
    
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" respawn="false" 
       output="screen" required="true" clear_params="true"
       launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh $(arg with_coredump)">
        <param name="num_worker_threads" type="int" value="10" />
    </node>

    <param name="hardware/is_ready" value="0"/>
    <node pkg="nodelet" type="nodelet" name="nodelet_controller" args="load HumanoidControllerNodelet nodelet_manager" respawn="false" output="screen" required="true" />
    <node pkg="nodelet" type="nodelet" name="ekf_se" args="load RobotLocalization/EkfNodelet nodelet_manager" respawn="false" output="screen" required="true" launch-prefix="taskset -c 12">
      <rosparam command="load" file="$(find humanoid_estimation)/params/ekf_template.yaml" />
    </node>    
    <group unless="$(arg ruiwo_cxx_sdk)">
      <node pkg="nodelet" type="nodelet" name="nodelet_hardware" args="load HardwareNodelet nodelet_manager" respawn="false" output="screen" required="true"  />
    </group>
    <group if="$(arg ruiwo_cxx_sdk)">
      <node pkg="nodelet" type="nodelet" name="nodelet_hardware" args="load HardwareNodeletCXX nodelet_manager" respawn="false" output="screen" required="true"  />
    </group>

    <include file="$(find humanoid_interface)/launch/rosbag_nodelet.launch"/>
    <group if="$(arg use_joystick)">
      <group if="$(eval arg('joystick_type') == 'h12')">

        <group if="$(eval arg('start_way') == 'manual')">
          <!-- 此if分支为命令行启动机器人: joystick_type=h12，h12遥控器使用和服务启动(start_way=auto)相同的逻辑。-->
          
          <param name="start_way" value="auto"/>

          <!-- 确定状态机初始状态 -->
          <param name="manual_h12_init_state" value="ready_stance"/>
          <group if="$(eval arg('cali') or arg('cali_arm'))">
              <param name="manual_h12_init_state" value="calibrate"/>
          </group>

          <!-- 补充环境变量，和服务启动的变量一致 -->
          <env name="KUAVO_ROS_CONTROL_WS_PATH" value="$(find humanoid_controllers)/../../../" />
          <!-- 启动 h12pro 控制节点 -->
          <include file="$(find h12pro_controller_node)/launch/h12pro_autostart.launch">
          </include>

          <param name="joystick_sensitivity" value="20"/>
          <node pkg="humanoid_interface_ros" type="humanoid_joy_control_auto_gait_with_vel" name="humanoid_joy_control_auto_gait_with_vel" output="screen"/>
          
        </group>

        <group if="$(eval arg('start_way') == 'auto')">

          <include file="$(find humanoid_controllers)/launch/joy/joy_control_h12.launch">
            <arg name="start_way" value="$(arg start_way)"/>
          </include>
        </group>

      </group>
      <group if="$(eval arg('joystick_type') == 'sim')">
        <include file="$(find humanoid_controllers)/launch/joy/joy_control_sim.launch">
          <arg name="joystick_type" value="$(arg joystick_type)"/>
        </include>
      </group>
      <group if="$(eval arg('joystick_type') == 'bt2' or arg('joystick_type') == 'bt2pro')">
        <group if="$(eval arg('start_way') == 'manual')">
          <include file="$(find humanoid_controllers)/launch/joy/joy_control_bt.launch">
            <arg name="joystick_type" value="$(arg joystick_type)"/>
            <arg name="real" value="$(arg real)"/>
          </include>
        </group>
        <node pkg="humanoid_interface_ros" type="humanoid_joy_control_auto_gait_with_vel" name="humanoid_joy_control_auto_gait_with_vel" output="screen"/>
      </group>
    </group>

    <!--publish system state  -->
    <node pkg="humanoid_controllers" type="system_info_publisher.py" name="system_info_publisher" />
    <!-- monitor node -->
    <node pkg="kuavo_monitor" type="kuavo_monitor_node" name="kuavo_monitor_node" launch-prefix="$(find humanoid_controllers)/scripts/start_node.sh $(arg with_coredump)"/>

    <!-- 启动上位机服务节点 -->
    <group if="$(eval arg('robot_version') >= 40)">
      <node pkg="humanoid_controllers" type="upper_computer_service.py" name="upper_computer_service" output="screen" />
    </group>

    <group if="$(arg vr_remote_control)">
      <include file="$(find noitom_hi5_hand_udp_python)/launch/launch_quest3_ik.launch"/>
    </group>

    <!-- 添加播放音乐参数 -->
    <arg name="music" default="enable" />

    <!-- 音频服务跳过条件：
         1. music == 'disable' 时禁用
         2. robot_version == 53 时禁用（与上位机服务冲突）
    -->
    <group if="$(eval arg('music') != 'disable' and arg('robot_version') != 53)">
        <!-- 设置音频文件路径参数 -->
        <param name="audio_path" value="/home/lab/.config/lejuconfig/music" type="string"/>

        <!-- 启动 播放音乐服务 -->
        <include file="$(find kuavo_audio_player)/launch/play_music.launch"/>
    </group>


    <group if="$(arg with_ik)">
      <include file="$(find motion_capture_ik)/launch/ik_node.launch"/>
    </group>

    <group if="$(arg with_mm_ik)">
      <group if="$(eval arg('robot_version') >= 30)">
      <include file="$(find mobile_manipulator_controllers)/launch/mobile_manipulator_controller.launch">
        <arg name="sqp_mpc" value="1"/>
        <arg name="rviz"    value="false"/>
        <arg name="visualize_mm"   value="false"/>
        <arg name="coredump" value="$(arg coredump)"/>
      </include>
      </group>
    </group>

    <group if="$(arg with_led)">
      <include file="$(find kuavo_led_controller)/launch/set_led_mode.launch">
        <arg name="LED" value="enable"/>
      </include>
    </group>

    <group if="$(arg with_battery)">
      <include file="$(find kuavo_led_controller)/launch/battery_info.launch">
        <arg name="BATTERY" value="enable"/>
      </include>
    </group>

    <arg name="microphone" default="true" />

    <group if="$(arg microphone)">
      <!-- 添加音频接收节点 -->
      <include file="$(find kuavo_audio_receiver)/launch/receive_voice.launch"/>

    </group>

</launch>
