[Unit]
Description=Websocket Start Script
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=ROBOT_VERSION=42
Environment=KUAVO_REMOTE_PASSWORD=bGVqdV9rdWF2bw==
Environment=ROBOT_NAME=KUAVO
Environment=ROS_MASTER_URI=http://127.0.0.1:11311
Environment=ROS_IP=127.0.0.1
Environment=ROS_HOSTNAME=
Environment=CAMERA_TYPE=none
Environment=REPO_ROOT=/home/lab/kuavo-ros-control
ExecStart=/bin/bash /home/lab/kuavo-ros-opensource/src/manipulation_nodes/planarmwebsocketservice/service/websocket_start_script.sh
Restart=always
RestartSec=5s
User=lab

[Install]
WantedBy=multi-user.target
