<?xml version="1.0" ?>
<launch>
    <arg name="start_way" default="auto"/>
    <param name="channel_map_path" value="$(find humanoid_controllers)/launch/joy/h12pro.json"/>

    <group if="$(eval arg('start_way') == 'manual')">
        <include file="$(find h12pro_controller_node)/launch/h12pro_to_joystick.launch"/>
    </group>
    <param name="joystick_sensitivity" value="20"/>
    <node pkg="humanoid_interface_ros" type="humanoid_joy_control_auto_gait_with_vel" name="humanoid_joy_control_auto_gait_with_vel" output="screen"/>
</launch>
