Panels:
  - Class: rviz/Displays
    Help Height: 84
    Name: Displays
    Property Tree Widget:
      Expanded:
        - /Global Options1
      Splitter Ratio: 0.7425600290298462
    Tree Height: 578
  - Class: rviz/Help
    Name: Help
  - Class: rviz/Views
    Expanded:
      - /Current View1
    Name: Views
    Splitter Ratio: 0.5
Preferences:
  PromptSaveOnExit: true
Toolbars:
  toolButtonStyle: 2
Visualization Manager:
  Class: ""
  Displays:
    - Alpha: 0.5
      Cell Size: 1
      Class: rviz/Grid
      Color: 160; 160; 164
      Enabled: true
      Line Style:
        Line Width: 0.029999999329447746
        Value: Lines
      Name: Grid
      Normal Cell Count: 0
      Offset:
        X: 0
        Y: 0
        Z: 0
      Plane: XY
      Plane Cell Count: 10
      Reference Frame: <Fixed Frame>
      Value: true
    - Class: rviz/TF
      Enabled: true
      Filter (blacklist): ""
      Filter (whitelist): ""
      Frame Timeout: 15
      Frames:
        All Enabled: true
        base_link:
          Value: true
        camera:
          Value: true
        camera_base:
          Value: true
        camera_color_frame:
          Value: true
        camera_color_optical_frame:
          Value: true
        camera_depth_frame:
          Value: true
        camera_depth_optical_frame:
          Value: true
        camera_link:
          Value: true
        dummy_link:
          Value: true
        l_foot_heel:
          Value: true
        l_foot_toe:
          Value: true
        leg_l1_link:
          Value: true
        leg_l2_link:
          Value: true
        leg_l3_link:
          Value: true
        leg_l4_link:
          Value: true
        leg_l5_link:
          Value: true
        leg_l6_link:
          Value: true
        leg_r1_link:
          Value: true
        leg_r2_link:
          Value: true
        leg_r3_link:
          Value: true
        leg_r4_link:
          Value: true
        leg_r5_link:
          Value: true
        leg_r6_link:
          Value: true
        ll_foot_heel:
          Value: true
        ll_foot_toe:
          Value: true
        lr_foot_heel:
          Value: true
        lr_foot_toe:
          Value: true
        odom:
          Value: true
        r_foot_heel:
          Value: true
        r_foot_toe:
          Value: true
        radar:
          Value: true
        rl_foot_heel:
          Value: true
        rl_foot_toe:
          Value: true
        rr_foot_heel:
          Value: true
        rr_foot_toe:
          Value: true
        zarm_l1_link:
          Value: true
        zarm_l2_link:
          Value: true
        zarm_l3_link:
          Value: true
        zarm_l4_link:
          Value: true
        zarm_l5_link:
          Value: true
        zarm_l6_link:
          Value: true
        zarm_l7_end_effector:
          Value: true
        zarm_l7_link:
          Value: true
        zarm_r1_link:
          Value: true
        zarm_r2_link:
          Value: true
        zarm_r3_link:
          Value: true
        zarm_r4_link:
          Value: true
        zarm_r5_link:
          Value: true
        zarm_r6_link:
          Value: true
        zarm_r7_end_effector:
          Value: true
        zarm_r7_link:
          Value: true
        zhead_1_link:
          Value: true
        zhead_2_link:
          Value: true
      Marker Alpha: 1
      Marker Scale: 1
      Name: TF
      Show Arrows: true
      Show Axes: true
      Show Names: true
      Tree:
        camera_link:
          camera_color_frame:
            camera_color_optical_frame:
              {}
          camera_depth_frame:
            camera_depth_optical_frame:
              {}
        odom:
          base_link:
            dummy_link:
              {}
            leg_l1_link:
              leg_l2_link:
                leg_l3_link:
                  leg_l4_link:
                    leg_l5_link:
                      leg_l6_link:
                        l_foot_heel:
                          {}
                        l_foot_toe:
                          {}
                        ll_foot_heel:
                          {}
                        ll_foot_toe:
                          {}
                        lr_foot_heel:
                          {}
                        lr_foot_toe:
                          {}
            leg_r1_link:
              leg_r2_link:
                leg_r3_link:
                  leg_r4_link:
                    leg_r5_link:
                      leg_r6_link:
                        r_foot_heel:
                          {}
                        r_foot_toe:
                          {}
                        rl_foot_heel:
                          {}
                        rl_foot_toe:
                          {}
                        rr_foot_heel:
                          {}
                        rr_foot_toe:
                          {}
            zarm_l1_link:
              zarm_l2_link:
                zarm_l3_link:
                  zarm_l4_link:
                    zarm_l5_link:
                      zarm_l6_link:
                        zarm_l7_link:
                          zarm_l7_end_effector:
                            {}
            zarm_r1_link:
              zarm_r2_link:
                zarm_r3_link:
                  zarm_r4_link:
                    zarm_r5_link:
                      zarm_r6_link:
                        zarm_r7_link:
                          zarm_r7_end_effector:
                            {}
            zhead_1_link:
              zhead_2_link:
                camera:
                  {}
                camera_base:
                  {}
                radar:
                  {}
      Update Interval: 0
      Value: true
    - Alpha: 1
      Class: rviz/RobotModel
      Collision Enabled: false
      Enabled: true
      Links:
        All Links Enabled: true
        Expand Joint Details: false
        Expand Link Details: false
        Expand Tree: false
        Link Tree Style: Links in Alphabetic Order
        base_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        camera:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        camera_base:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        dummy_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
        l_foot_heel:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        l_foot_toe:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_l1_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_l2_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_l3_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_l4_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_l5_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_l6_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_r1_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_r2_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_r3_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_r4_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_r5_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        leg_r6_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        ll_foot_heel:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        ll_foot_toe:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        lr_foot_heel:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        lr_foot_toe:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        r_foot_heel:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        r_foot_toe:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        radar:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        rl_foot_heel:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        rl_foot_toe:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        rr_foot_heel:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        rr_foot_toe:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_l1_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_l2_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_l3_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_l4_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_l5_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_l6_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_l7_end_effector:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_l7_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_r1_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_r2_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_r3_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_r4_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_r5_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_r6_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_r7_end_effector:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zarm_r7_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zhead_1_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
        zhead_2_link:
          Alpha: 1
          Show Axes: false
          Show Trail: false
          Value: true
      Name: RobotModel
      Robot Description: robot_description
      TF Prefix: ""
      Update Interval: 0
      Value: true
      Visual Enabled: true
    - Class: rviz/Image
      Enabled: true
      Image Topic: /aruco_single/result
      Max Value: 1
      Median window: 5
      Min Value: 0
      Name: Image
      Normalize Range: true
      Queue Size: 2
      Transport Hint: raw
      Unreliable: false
      Value: true
  Enabled: true
  Global Options:
    Background Color: 48; 48; 48
    Default Light: true
    Fixed Frame: base_link
    Frame Rate: 30
  Name: root
  Tools:
    - Class: rviz/Interact
      Hide Inactive Objects: true
    - Class: rviz/MoveCamera
    - Class: rviz/Select
  Value: true
  Views:
    Current:
      Class: rviz/XYOrbit
      Distance: 3.6783218383789062
      Enable Stereo Rendering:
        Stereo Eye Separation: 0.05999999865889549
        Stereo Focal Distance: 1
        Swap Stereo Eyes: false
        Value: false
      Field of View: 0.7853981852531433
      Focal Point:
        X: 0.11356700211763382
        Y: 0.10592000186443329
        Z: 2.2351800055275817e-07
      Focal Shape Fixed Size: true
      Focal Shape Size: 0.05000000074505806
      Invert Z Axis: false
      Name: Current View
      Near Clip Distance: 0.009999999776482582
      Pitch: 0.1547970026731491
      Target Frame: world
      Yaw: 5.91495418548584
    Saved: ~
Window Geometry:
  Displays:
    collapsed: false
  Height: 1016
  Help:
    collapsed: false
  Hide Left Dock: false
  Hide Right Dock: false
  Image:
    collapsed: false
  QMainWindow State: 000000ff00000000fd0000000100000000000002a2000003a2fc0200000007fb000000100044006900730070006c006100790073010000003b000002d1000000c700fffffffb0000000800480065006c00700000000342000000bb0000006e00fffffffb0000000a0056006900650077007300000003b0000000b0000000a000fffffffb0000000c00430061006d00650072006100000002ff000001610000000000000000fb0000001e004d006f00740069006f006e00200050006c0061006e006e0069006e006701000001b50000022b0000000000000000fb0000000a0049006d006100670065000000031c000000c40000000000000000fb0000000a0049006d0061006700650100000312000000cb0000001600ffffff0000049a000003a200000001000000020000000100000002fc0000000100000002000000010000000a0054006f006f006c00730100000000ffffffff0000000000000000
  Views:
    collapsed: false
  Width: 1858
  X: 62
  Y: 27
