<launch>
  <arg name="visualize"          default="0"/>
  <arg name="joystick_type"      default="bt2"/>
  <arg name="visualize_humanoid" default="false"/>
  <arg name="visualize_mm"       default="true"/>
  <arg name="rviz"               default="false"/>
  <arg name="rviz_mm"            default="true"/>
  <arg name="sqp_mpc"            default="1"/>
  <arg name="with_mm_ik"         default="false"/>
  <arg name="send_srv"           default="1"/>
  <arg name="ee_type"            default="qiangnao"/>
  <arg name="control_torso"      default="0" /> <!-- 0: do NOT control, 1: control torso  -->
  <arg name="ip_address"         default="" /> <!-- ip address of quest3 -->
  <arg name="use_quest3_utils"   default="true"/>
  <arg name="rl"                 default="1"/>
  <arg name="predict_time"       default="0.0"/>
  <param name="use_quest3_utils" type="bool" value="$(arg use_quest3_utils)"/>
  <!-- sim launch -->

  <include file="$(find mobile_manipulator_controllers)/launch/mobile_manipulator_controller_general.launch">
    <arg name="sqp_mpc"            value="$(arg sqp_mpc)"/>
    <arg name="rviz"               value="$(arg rviz_mm)"/>
    <arg name="visualize_mm"       value="$(arg visualize_mm)"/>
  </include>
  
  <node name="quest3_node" pkg="motion_capture_ik" type="quest3_node.py" output="screen" args="--ee_type $(arg ee_type) --send_srv $(arg send_srv)
     --control_torso=$(arg control_torso) --rl $(arg rl) --predict_time $(arg predict_time)"></node>
  <node pkg="noitom_hi5_hand_udp_python" type="monitor_quest3.py" args="$(arg ip_address)" name="monitor_quest3" output="screen"/>

  <group if="$(arg visualize)">    
      <node name="visulize_traj_node" pkg="motion_capture_ik" type="visulize_traj.py" output="screen"  args="--ee_type $(arg ee_type)"/>
  </group>

  <include file="$(find motion_capture_ik)/launch/ik_node.launch"/>

  <node name="quest3_fsm_node" pkg="motion_capture_ik" type="quest3_fsm_node_for_rl.py" output="screen"/>
</launch>
