<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="apriltag_marker">

  <xacro:macro name="apriltag_marker" params="parent_link *origin id enable_collision:=false">
    <!-- 定义二维码的Link -->
    <link name="apriltag_marker_${id}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.11 0.11 0.001"/>
        </geometry>
      </visual>
      <xacro:if value="${enable_collision}">
        <collision>
          <geometry>
            <box size="0.11 0.11 0.001"/>
          </geometry>
        </collision>
      </xacro:if>
    </link>

    <joint name="apriltag_joint_${id}" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}"/>
      <child link="apriltag_marker_${id}"/>
    </joint>

    <gazebo reference="apriltag_marker_${id}">
      <visual>
        <material>
          <script>
            <uri>file://$(find kuavo_assets)/models/apriltag/materials/apriltag_${id}.material</uri>
            <name>AprilTag/Marker${id}</name>
          </script>
          <shader type="pixel">
            <normal_map>__default__</normal_map>
          </shader>
          <double_sided>false</double_sided>
        </material>
      </visual>
    </gazebo>
  </xacro:macro>
</robot>
