[Unit]
Description=Report robot network info to Wecom group on startup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/environment.d/RRNIS.env
ExecStart=/usr/local/bin/RRNIS_script

[Install]
WantedBy=multi-user.target