<launch>
    <arg name="joystick_type"      default="bt2"/>
    <arg name="visualize_mm"       default="true"/>
    <arg name="rviz"               default="false"/>
    <arg name="rviz_mm"            default="true"/>
    <arg name="sqp_mpc"            default="1"/>

  <!-- sim launch -->
  <include file="$(find humanoid_controllers)/launch/load_kuavo_real.launch">
    <arg name="joystick_type"      value="$(arg joystick_type)"/>
    <arg name="rviz"               value="$(arg rviz)"/>
    <arg name="with_mm_ik"         value="true"/>
  </include>

</launch>
