<launch>
  <!-- 添加real参数 -->
  <arg name="real" default="false"/>

  <!-- 如果不是实物运行，则启动所有节点 -->
  <group unless="$(arg real)">
    <!-- 启动运动学mpc -->
    <include file="$(find mobile_manipulator_controllers)/launch/mobile_manipulator_controller.launch"/>
        
    <!-- Virtual Robot Hand Position Node -->
    <node pkg="ar_control" type="virtual_robot_hand_position.py" name="virtual_robot_hand_position" output="screen" respawn="true" />
  </group>

  <!-- Tag Tracker Node 在实物和仿真中都需要启动 -->
  <node pkg="grab_box" type="tag_tracker_node" name="tag_tracker_node" output="screen" respawn="true" />

  <!-- 启动 ARControlNode -->
  <node pkg="ar_control" type="ar_control_node.py" name="ar_control_node" output="screen" respawn="true" respawn_delay="5" />
</launch>